*{
    padding: 0;
    margin: 0;
    color: white;
    
}
#navbar{
    height: 50px;
    background-color: black;
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size:45px ;
}
a{
    margin-right: 100px;
    padding-right: 50px;
}
.contentbox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
#content{
    height: 700px;
}
footer{
    color: white;
    background-color: black;
    text-align: center;
}