.loader{
    width:100px;
    height: 100px;
    border-radius: 50%;
    border:10px solid #ffe66d ;
    border-top: 10px solid #4ecdc4;
    animation-name: spinAnimate;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: normal;



}
@keyframes spinAnimate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}